#flights-filter-row {

}

/* For bootstrap dropdown menu */
/* For bootstrap-select dropdown menu */
/* Styles the parent div of #location-dropdown-btn */
#location-dropdown-btn-group {
	margin-top: 20px;
	width: 100%;
}

#location-dropdown-btn {
	width: 100%;
}

/* For bootstrap dropdown menu */
#location-dropdown-btn > span {
	display: inline-block;
	width: 80%;
	margin-bottom:-10px;

	overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dropdown-menu.show {
	height: auto;
	max-height: 300px;
	overflow-x: scroll;
	overflow-y: scroll;
}

.dropdown-item.gray-tint {
  box-shadow: 0px 2em rgba(0, 0, 0, 0.1) inset;
}

.dropdown-item-no-entry {
	padding-left: 2.25em;
    z-index: 505;
    position: absolute;
    left: 0;
}

#direction-toggle-btn-group {
	margin-top: 20px;
	width: 100%;
}

#direction-toggle-btn-group > label {
	width: 50%;
}